* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	color:#1e8bb4;
	text-decoration: none;
}

a:hover {
	color: #d0a71d;
	text-decoration: underline;
}

a.side {
	color: #d0a71d;
	text-decoration: none;
}

a:hover.side {
	color: #d0a71d;
	text-decoration: underline;
}

a.white, li.white a {
	color: #DCE0E2;
	text-decoration: none;
	font-weight: bold;
}

a:hover.white, li.white a:hover {
	color: #d0a71d;
	text-decoration: underline;
}

body {
	width: 100%;
	background-image: url(../images/10.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: #ffffff;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 16px;
	quotes: "\00ab" "\00bb";
}

article {
	background-color: rgba(13, 24, 40, 0.5); /* #0d1828 */
	clear: both;
	padding: 15px;
	width: 1000px;
	margin: 0 auto;
}

ul {
	margin-left: 20px;
}

.logo {
	margin: 0 0 15px 0;
	float: left;
}

.tel {
	margin: 15px 0 15px 0;
	float: right;
}

.hr {
	height: 0px; 
	border: solid #2b6571 1px; 
	width: 800px;
	margin: 0.5em auto;
}

.rightimg {
	float: right;
	margin: 0 60px 15px 30px;
}

p {
	clear: both;
	margin: 1.0em 0;
}

.ocentrovka {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -225px;
}

.schet {
	margin: -10px 0 0 0;
}

@media only screen and (max-width: 1025px) {
article {
	width: 670px;
}
.hr {
	width: 600px;
}
.rightimg {
	margin: 0 0 15px 15px;
}
					    }

@media only screen and (max-width: 684px) {
body {
	background-image: none;
	background: #09101d none repeat scroll 0% 0%;
}
.logo, .tel {
	float: none;
	margin: 0 auto;
	display: block;
}
article {
	background-color: none;
	width: 100%;
	padding: 5px;
}
ul {
	margin: 0;
}
.hr {
	width: 300px;
}
.rightimg {
	float: none;
	display: block;
	margin: 0 auto 15px;
}
					   }

/* Feedback */
.inline {
    width: 650px;
    margin: 0 auto;

}
.txt { 
    background-color: #e2f6ef;
    display: inline-block;
    color: #676767;
    width: 190px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 9px;
    font-size: 15px !important;
    line-height: 1.4em;
}
.txtarea { 
	background-color:#e2f6ef;
	display: inline-block;
	color: #676767;
	width: 621px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 5px 9px;
	font-size: 15px !important;
	line-height: 1.4em;
	height: 80px;
}
@media only screen and (max-width: 684px) {
.inline {
	width: 300px;
}
.txt { 
	width: 170px;
}
.txtarea {
	width: 300px;
	height: 100px;
}
					   }

.txt:focus, .txtarea:focus {
	border-style: solid; 
	border-color: #bababa; 
	color: #444; 
 }
input.error, textarea.error { 
    border-color: #973d3d; 
    border-style: solid; 
    background: #f0bebe; 
    color: #a35959; 
    }
input.error:focus, textarea.error:focus { 
    border-color: #973d3d; 
    color: #a35959;
     }
#send { 
    color: #FFFFFF;
    display: block;
    cursor: pointer;
    padding: 5px 11px;
    font-size: 1.2em;
    border: solid 1px #F9F9F9;
    border-radius: 2px;
    background: #70C6B9;
    width: 210px;
    margin-bottom: 20px;
}
#send:hover {
    background: #979797;
}
